.center {
    margin: 0 auto;
}

.form-container {
}

.options-form {
  background-color: gray;
  margin: 50px;
}

.options-form select, input {
  display: block;
  margin: 0 0 20px 25px;
  width: 50%;
  font-size: 1.5em;
}

.options-form label, button{
  margin-left: 10px;
  display: block;
  font-weight: bolder;
  font-size: 2em;
}

.btn-success:hover {
  background-color: white;
  color: black;

}
